/**
general text formatting
**/

h1, h3, p, ul, a {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 10px;
}

h3 {
    font-size: 20px;
}

p, ul {
    font-size: 16px;
}

a {
    color: #195b5d;
}

/**
page formatting
**/

body {
    background-color: #bce7e7;
}

.margin {
    margin-top: 2vw;
    margin-left: clamp(270px, 25%, 500px);
    margin-right: 5vw;
    margin-bottom: 2vw;
}

.center {
    text-align: center;
}

.bolder {
    font-weight: bolder;
    font-size: 18px;
}

.sidebar {
    height: 90%;
    width: clamp(200px, 20%, 430px);
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #72c4b7;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
}

/** 
image formatting
**/

.img1 {
    display: block;
    margin: auto;
    width: 50%;
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.img2 {
    display: block;
    margin: auto;
    width: 30%;
    border: 5px solid #ffffff;
    border-radius: 5px;
}